<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
      
    <!-- Latest Mars News -->
    <div class="row">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <h3>{{marsdata.news_title}}</h3>
        <h4>{{marsdata.news_paragraph}}</h4>
      </div>
    </div>
    <hr class="light">
    
    <!-- Mars Facts Table -->
    <div class="row"> 
      <div class="col-md-4">
        <h2 class="heading">Mars facts</h2>
        {{marsdata.facts|safe}} 
      </div>
    </div>
    <hr class="light">

    <!-- Hemisphere Photos -->
    <div class="row">
      <div class="col-md-8">
        <h2 class="heading text-center">Mars Hemispheres</h2>
        {% for item in marsdata.hemisphere_image_urls %}
          <div class = "col-md-6">
            <div class="card" style="width: 300px;">
              <img class="card-img-top" src={{item.img_url}} alt="{{item.title}} image" width = "100%">
              <div class="card-body">
                <h4 class="card-text">{{item.title}}</h4>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <hr class="light">
  </div>
  
</body>
</html>